<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Event Driven</title>
    <link rel="stylesheet" href="../css/style.css">

    <!-- d3 library -->
    <script src="http://d3js.org/d3.v5.min.js"></script>


</head>
<body>
<div id="container">
    <div id="title">
        <h1>Draw event driven flow </h1>
    </div>
    <div id="main">
        <div id="head">
            <label for="addEvent">이벤트 추가</label>
            <input id="addEvent" autofocus type="text" placeholder="이벤트 추가">
        </div>
        <div id="svg-wrap">
            <svg id="draw-space" width="100%" , height="100%">
                <polyline points="220,50  240,50" style="fill:none;stroke:red;stroke-width:4"></polyline>
            </svg>
        </div>
    </div>
</div>
</body>
<script src="../js/linkedList.js"></script>

<script>
    class dataModel {
        constructor(editMode = false) {
            this.editMode = editMode;
        }

        getAllModel() {
            return {
                editMode: this.editMode,
            }
        }

        getModel(name) {
            return this[name];
        }


        setModel(name, value) {
            this[name] = value;
        }
    }

</script>
<script>
    const model = new dataModel();


    const svg = d3.select('svg')
        .on('click', e => {
            if (model.getModel('editMode')) {
                console.log("Edit Mode End")
            }


        });

    const link = new LinkedList();

    const inputBox = document.getElementById('addEvent');
    inputBox.addEventListener('keypress', (e) => {
        const inputText = e.target.value;
        if (e.key === 'Enter' && inputText !== '') {
            const inputText = e.target.value;
            addList(inputText);
            inputBox.value = '';
        }
    });
</script>

<script>
    function addList(text) {
        const lastLink = [...link.printListData()];
        const index = lastLink.length;
        const obj = lastLink[0]
            ? {id: `item_${index}`, x: 30 + lastLink[0]?.x + lastLink[0]?.width, y: 20, width: 100, height: 70, text}
            : {id: `item_${index}`, x: 30, y: 20, width: 100, height: 70, text};


        function domList(dom) {
            const parentNode = dom.parentNode;
            const brotherNode = parentNode.childNodes[1];
            return [dom, parentNode, brotherNode];
        }

        function start(dom) {
            const moveTarget = domList(dom);
            moveTarget.forEach(tag => d3.select(tag).raise().classed("active", true));
        }


        function drag(dom) {
            const moveTarget = domList(dom);

            const tagName = tag => tag.tagName === 'text';

            const isNotText = tag => d3.select(tag)
                .attr('x', data => data.x = d3.event.x)
                .attr('y', data => data.y = d3.event.y);

            const isText = tag => d3.select(tag)
                .attr('x', data => data.x + (data.width / 2))
                .attr('y', data => data.y + (data.height / 2));

            moveTarget.forEach(tag => tagName(tag) ? isText(tag) : isNotText(tag));

        }

        function end(dom) {
            const moveTarget = domList(dom);
            moveTarget.forEach(tag => d3.select(tag).classed("active", false));
        }

        const svg = d3.select('#draw-space')
            .append('g')
            .data([obj])
            .attr('x', d => d.x)
            .attr('y', d => d.y)
            .attr('id', d => d.id);


        svg.append('rect')
            .attr('x', d => d.x)
            .attr('y', d => d.y)
            .attr('rx', 10)
            .attr('fill', 'skyblue')
            .attr('width', d => d.width)
            .attr('height', d => d.height)
            .call(d3.drag()
                .on("start", function () {
                    start(this)
                })
                .on("drag", function () {
                    drag(this)
                })
                .on("end", function () {
                    end(this)
                })
            );

        svg.append('text')
            .attr('x', d => d.x + (d.width / 2))
            .attr('y', d => d.y + (d.height / 2))
            .attr('text-anchor', "middle")
            .attr('dominant-baseline', "middle")
            .attr('font-size', "1rem")
            .attr('fill', "black")
            .text(d => d.text)
            .on('dblclick', function () {
                doubleClickEvent(this);
            })

        function doubleClickEvent(dom) {
            d3.select(dom).attr('visibility', 'hidden');

            const foreignObject = d3.select(dom.parentNode)
                .append('foreignObject')
                .style('x', d => d.x)
                .style('y', d => d.y)
                .style('width', d => d.width)
                .style('height', d => d.height)
                .style('dominant-baseline', 'middle');

            foreignObject.append('xhtml:div')
                .attr('class', 'editTextWrap')
                .append('textarea')
                .attr('spellcheck', false)
                .attr('class', 'editText')
                .text(d => d.text)
                .on('keyup', function () {
                    if (this.value.length > 11) {
                        console.log('12보다 큼', this.value.length);
                        // 도형 전체 사이즈 up  그리고 textarea height rem 두배 증가!!
                    }
                })
                .node()
                .focus()
            ;


        }

        link.insertFirst(obj);
    }


</script>
</html>